.surveyImage {
  clear: both;
  margin-top: 50px !important;
}

img {

    width: 400px;

}

#endPhotos{
  visibility: hidden;
  height: 1px;

}
.hidden {
    visibility: hidden;
}
.show {
    visibility: visible;
}

.bubble {
  padding: 5%;
}

/* Custom h styling */

.h1banner {
    color: white;
    font-size: 60px;
    font-family: Abril Fatface, cursive;
}
.h2banner {
    color: white;
    font-size: 50px;
}
.h5banner {
    color: white;
    font-size: 20px;
}

/* Alignment */

.right {
    text-align: right;
}
.left {
    text-align: left;
}
.center {
    text-align: center;
}

/* Color */

.white {
    color: #fff;
}
.orange {
    color: #E65100;
}

/* Navigation Stuff */

.navigation {
  top: 30px;
  z-index: 1000;
  border-bottom: 1px solid white;
  padding-bottom: 20px!important;
}

.navtext a{
  color: #E65100;
  text-decoration: none;
  margin-left: 25px;
  transition: 0.3s all;
}


.navigation {
    top: 30px;
    z-index: 1000;
}
.navtext a {
    color: #E65100;
    text-decoration: none;
    margin-left: 25px;
    transition: 0.3s all;
}
.navtext a:hover {
    color: #B0BEC5;
    padding-bottom: 2px;
    border-bottom: 1px solid #B0BEC5;
}
.navtextlogo a {
    color: #E65100;
    font-family: Abril Fatface, cursive;
    text-decoration: none;
    margin-left: 25px;
    transition: 0.3s all;
}
.navtextlogo a:hover {
    color: #B0BEC5;
    padding-bottom: 2px;
    border-bottom: 1px solid #B0BEC5;
}

.effects a {
    color: #E65100;
    text-decoration: none;
    margin-left: 25px;
    transition: 0.3s all;
}
.effects a:hover {
    color: #B0BEC5;
    padding-bottom: 2px;
    border-bottom: 1px solid #B0BEC5;
}

.navtextfront a{
  color: #fff;
  text-decoration: none;
  margin-left: 25px;
  transition: 0.3s all;
}

.navtextfront a:hover{
  color: #E65100;
  padding-bottom: 2px;
  border-bottom: 1px solid #E65100;
}

.navtextlogofront a{
  color: #fff;
  font-family: Abril Fatface, cursive;
  text-decoration: none;
  margin-left: 25px;
  transition: 0.3s all;
}

.navtextlogofront a:hover{
  color: #E65100;
  padding-bottom: 2px;
  border-bottom: 1px solid #E65100;
}

/* Custom sections */

.about {
    /*background-image: url('');
  background-size: cover;*/
    background: whitesmoke;
    color: #000;
    padding-bottom: 5rem;
}
.vertical {
    text-align: right;
    vertical-align: middle;


}

.team {
  /*background-image: url('');
  background-size: cover;*/
  background: whitesmoke;
  color: #000;
  padding: 0 5rem 5rem;

}


.survey {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/table.jpg');
    background-size: cover;
    /*background: whitesmoke;*/
    color: #000;
    padding-bottom: 5rem;
}
.customNW {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/Portland.jpg');
    background-size: cover;
    /*background: whitesmoke;*/
    color: #000;
    padding-bottom: 5rem;
    height: 380px;
}
.customSE {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/lower-burnside-hero.jpg');
    background-size: cover;
    /*background: whitesmoke;*/
    color: #000;
    padding-bottom: 5rem;
    height: 380px;
}
.customN {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/st-johns-moving-guide 2.jpg');
    background-size: cover;
    /*background: whitesmoke;*/
    color: #000;
    padding-bottom: 5rem;
    height: 380px;
}
.customNE {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/portland-667618_1920.jpg');
    background-size: cover;
    /*background: whitesmoke;*/
    color: #000;
    padding-bottom: 5rem;
    height: 380px;
}
.customSW {
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url('../images/Tram-4.jpg');
    background-size: cover;
    /*background: whitesmoke;*/
    color: #000;
    padding-bottom: 5rem;
    height: 380px;
}

#small {
    padding-bottom: 10px;
    height: 120px;
    padding-right: 5px;
    width: 120px;
}

.SElabel, .SEchoice {
    padding-bottom: 100px;
    color: white;
}

}
.padding {
    padding-bottom: 50px;
    padding-top: 20px;
}
.footer {

  background-color: lightgrey;
  padding-top: 21px;
  color: grey;

}
.section {
    padding: 8rem 0 7rem;
    text-align: center;
}


.teamImg {
  border-radius: 100%;
  max-width: 90%;
  transition: 0.3s all;
}

.teamImg:hover {
-webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.42);
-moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.42);
box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.42);
}


/* Bigger than 550 */
@media (min-width: 550px) {
    .section {
        padding: 12rem 0 11rem;
    }
}

/* Bigger than 750 */
@media (min-width: 750px) {
    .section {
        padding: 14rem 0 15rem;
    }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {

  .section {
    padding: 15rem 0;
  }

}

/* Video */
video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(video/Market.jpg) no-repeat;
    background-size: cover;
}
@media screen and (max-device-width: 800px) {

  html {
    background: url(../video/Market.jpg) #000 no-repeat center center fixed;
  }
  #bgvid {
    display: none;
  }

}
